#root {
  max-width: 100%;
  margin-left: 20em;
  padding: 0;
  top: 0;
  font-family: "Playfair Display", serif;
}

.main {
  text-align: left;
}

.task-list {
  display: flex;
  flex-direction: row;
}

.form-btn {
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 0.5em 1em;
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

.task-btn {
  padding: 0.5em 1em;
  border: 1px solid;
  background-color: white;
  width: 6em;
  height: 2.75em;
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

.form-input {
  padding: 0.5em 1em;
  border: 1px solid;
  height: 1.14em;
  font-family: "Playfair Display", serif;
  color: grey;
  font-size: 1em;
}

div h3 {
  padding-right: 20em;
}